<div class="container text-center align-middle">
    <% if @project.errors.any? %>
        <div id="error_explanation">
            <h2>Se ha(n) encontrado <%= pluralize(@project.errors.count, "error(es)") %> y no se ha podido generar proyecto :</h2>
            <ul>
                <% @project.errors.full_messages.each do |msg| %>
                    <li class="text-center"><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% else %>
        <h1> Proyecto creado exitosamente</h1>
    <% end %>
    <div class= "text-center">
    <%= link_to "Volver al Dashboard", projects_dashboard_path %>
  </div>
</div>
