<h1>Gestor de Proyectos</h1>
<p>Agregar un nuevo proyecto : </p>

<form id="new_project" method="get">
    Título : <input name="name"><br>
    Descripción : <textarea name="description"></textarea><br>
    Fecha Inicio : <input name="start_date" type="date"><br>
    Fecha Término : <input name="end_date" type="date"><br>
    Estado : <select name="status" ><br>
                <option value="">Todos</option>
                <option value="propuesta">Propuesta</option>
                <option value="progreso">En progreso</option>
                <option value="finalizado">Terminado</option>
             </select><br>
    <input type="submit" value="Crear"><br>
</form>
